.message {
    text-align: center;
    padding-top: 100px;
    height: 100%;
    background: linear-gradient(180deg, #000000 3%, #201000 7%, var(--grape) 100%);

}
.accent-button {
    border: 1px solid var(--cream);
}
.page {
    height: 100%;
    background: linear-gradient(180deg, #000000 3%, #201000 7%, #4e1835 49%, #000000 100%);
}