
<a href="https://marshbirdgames.square.site/about-{{gameId}}" >
      <mat-card class="game-card" href="/" style="background-image: url('/assets/images/tile-images/{{gameContent.id}}.jpg');">
        <a href="https://marshbirdgames.square.site/about-{{gameId}}" >
        <mat-card-header class="card-header">
          <mat-card-title><h3>{{gameContent.name}}</h3></mat-card-title>
          <!-- <mat-card-subtitle class="subtitle">Ancient Norse</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="/assets/images/game-banners/{{gameContent.id}}.jpg" alt="{{gameContent.name}} board game"> -->
    </a>
        <mat-card-actions>
            <p>{{gameContent.description}}</p>
          <!-- <a href="https://marshbirdgames.square.site/about-{{gameId}}"><button mat-button>History & Instructions</button></a>
          <a *ngIf="gameContent.available" href="https://marshbirdgames.square.site/s/search?q={{gameContent.name}}">
            <button mat-button>Purchase</button>
          </a>   -->
        </mat-card-actions>
      </mat-card>

    </a>