.banner {
    height: 350px;
    width: 100%;
    background-image: url('/assets/images/tablut-banner.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    text-align: end;
  }
  .title {
    width: 50%;
    background-color: rgba(39, 21, 3, 0.75);
    display:inline-block;
    height: 100%;
    text-align: center;
    align-items: center;
    color: var(--cream);
}
.title h2 {
    font-size: 45px;
    position: relative;
    top: 10%;
    
}
.page-content {
    background-color: var(--grape);
    min-height: 500px;
    color: var(--cream);
    border-top: 3px solid black;

}
.splash-page {
    text-align: center;
}
.showcase-button  {
    box-shadow: 2px 7px 15px -2px black;
    margin: 15px;
    background-color: var(--grape);
    color: var(--butter);
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}
.game-card {
    margin: 10px;
    background: var(--grape);
    color: white;
    font-family: griffy;
    
        box-shadow: 2px 7px 15px -2px black;
        min-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 90%;
}
.subtitle {
    color: var(--butter);
    font-family: "Alegreya Sans", Garamond, "Times New Roman", Times, serif, sans-serif;
}
.mat-grid-tile-content {
    align-items: flex-start !important;

}
.card-header {
    padding: 10px 0 0;
    background: rgba(0, 0, 0, .8 );
}