<div class="banner">
    <!-- <img src="/assets/images/gradient.jpg" alt="gold gradient"> -->
    <div class="title">
      <h1>MarshBird Games</h1>
      
    </div>
    <div class="subtitle">
      <div><h3 class="subtext">Handmade Ancient & Traditional Games</h3></div>
      <br>
      <div>
      <a href="https://marshbirdgames.square.site/s/shop"><button class="sub-button" mat-flat-button color="primary">Shop</button></a>
      <a href="https://marshbirdgames.square.site/about-the-games"><button class="sub-button" mat-flat-button color="accent">Learn</button>
      </a>
      </div>
      

    </div>
  </div>
  <div class="page-content">
    <!-- <div class="splash-page">
      <a href="https://marshbirdgames.etsy.com" target="_blank"><button class="showcase-button"><h2>Visit the Shop</h2></button></a>
    </div> -->
    <div>
      <mat-grid-list cols={{breakpoint}} rowHeight="300px">
        <a href="https://marshbirdgames.square.site/shop/egyptian/CE2NR423K6AQO4ARSDTBGFFV?page=1&limit=30&sort_by=category_order&sort_order=asc">
          <mat-grid-tile >
            <mat-card class="game-card" style="background-image:url('/assets/images/tile-images/senet.jpg');">
              <mat-card-header class="card-header">
                <mat-card-title>Ancient Egypt</mat-card-title>
                <!-- <mat-card-subtitle class="subtitle">Ancient Eqyptian</mat-card-subtitle> -->
              </mat-card-header>
              <!-- <img mat-card-image src="/assets/images/tile-images/senet.jpg"> -->
              <!-- <mat-card-actions>
                <button mat-button>History</button>
                <button mat-button>How to Play</button>
                <button mat-button>Buy this Game</button>
              </mat-card-actions> -->
            </mat-card>
            <!-- <div> -->
            <p>Ancient Egypt</p>
            <p>some more text here</p>
            <p>bla bla blae</p>
          <!-- </div> -->
          </mat-grid-tile>
        </a>
        <a href="https://marshbirdgames.square.site/shop/norse/7L4IYEF5DYLKWQCATSR6ZJNO?page=1&limit=30&sort_by=category_order&sort_order=asc">
          <mat-grid-tile>
            <mat-card class="game-card" style="background-image:url('/assets/images/game-banners/tablut.jpg');">
              <mat-card-header class="card-header">
                <mat-card-title>Norse & Viking</mat-card-title>
                <!-- <mat-card-subtitle class="subtitle">Ancient Norse</mat-card-subtitle> -->
              </mat-card-header>
              <!-- <img mat-card-image src="/assets/images/game-banners/tablut.jpg"> -->
              <!-- <mat-card-actions>
                <button mat-button>History</button>
                <button mat-button>How to Play</button>
                <button mat-button>Buy this Game</button>
              </mat-card-actions> -->
            </mat-card>
          </mat-grid-tile>
        </a>

        <a href="https://marshbirdgames.square.site/shop/medieval-europe/WARASXKHOVN5EJIDSO226Q4C?page=1&limit=30&sort_by=category_order&sort_order=asc">
          <mat-grid-tile>
            <mat-card class="game-card" style="background-image:url('/assets/images/game-banners/fox-and-geese.jpg');">
              <mat-card-header class="card-header">
                <mat-card-title>Medieval Europe</mat-card-title>
                <!-- <mat-card-subtitle class="subtitle">Medieval Europe</mat-card-subtitle> -->
              </mat-card-header>
              <!-- <img mat-card-image src="/assets/images/game-banners/fox-and-geese.jpg"> -->
              <!-- <mat-card-actions>
                <button mat-button>History</button>
                <button mat-button>How to Play</button>
                <button mat-button>Buy this Game</button>
              </mat-card-actions> -->
            </mat-card>

          </mat-grid-tile>
        </a>
        <a href="https://marshbirdgames.square.site/shop/mesoamerican/5II7MOYQJA5FSBIKWDQMKIOP?page=1&limit=30&sort_by=category_order&sort_order=asc">
          <mat-grid-tile style="flex-direction: column !important;
          color: black !important;">
            <mat-card class="game-card" style="background-image:url('/assets/images/tile-images/puluc.jpg');">
              <mat-card-header class="card-header">
                <mat-card-title>Mesoamerica</mat-card-title>
                <!-- <mat-card-subtitle class="subtitle">Ancient Egypt</mat-card-subtitle> -->
              </mat-card-header>
              <!-- <img  src="/assets/images/product-images/mehen/mehen-with-box.jpg"> -->
              <!-- <mat-card-actions>
                <button mat-button>History</button>
                <button mat-button>How to Play</button>
                <button mat-button>Buy this Game</button>
              </mat-card-actions> -->
            </mat-card>

          </mat-grid-tile>
        </a>
      </mat-grid-list>
    </div>

  </div>
