<div class="banner">
    <!-- <img src="/assets/images/gradient.jpg" alt="gold gradient"> -->
    <div class="title">
      <h2>Marsh Bird Games</h2>
      <p>Handmade Traditional Games</p>
    </div>
  </div>
  <div class="page-content">
    <div class="splash-page">
      <a href="https://marshbirdgames.etsy.com" target="_blank"><button class="showcase-button"><h2>Visit the Shop</h2></button></a>
    </div>
    <div>
      <mat-grid-list cols={{breakpoint}} rowHeight="300px">
        <a href="/game/senet">
          <mat-grid-tile >
            <mat-card class="game-card" style="background-image:url('/assets/images/tile-images/senet.jpg');">
              <mat-card-header class="card-header">
                <mat-card-title>Senet</mat-card-title>
                <mat-card-subtitle class="subtitle">Ancient Eqyptian</mat-card-subtitle>
              </mat-card-header>
              <!-- <img mat-card-image src="/assets/images/tile-images/senet.jpg"> -->
              <!-- <mat-card-actions>
                <button mat-button>History</button>
                <button mat-button>How to Play</button>
                <button mat-button>Buy this Game</button>
              </mat-card-actions> -->
            </mat-card>
          </mat-grid-tile>
        </a>
        <a href="/game/tablut">
          <mat-grid-tile>
            <mat-card class="game-card" style="background-image:url('/assets/images/game-banners/tablut.jpg');">
              <mat-card-header class="card-header">
                <mat-card-title>Tablut</mat-card-title>
                <mat-card-subtitle class="subtitle">Ancient Norse</mat-card-subtitle>
              </mat-card-header>
              <!-- <img mat-card-image src="/assets/images/game-banners/tablut.jpg"> -->
              <!-- <mat-card-actions>
                <button mat-button>History</button>
                <button mat-button>How to Play</button>
                <button mat-button>Buy this Game</button>
              </mat-card-actions> -->
            </mat-card>
          </mat-grid-tile>
        </a>
        <a href="/game/fox-and-geese">
          <mat-grid-tile>
            <mat-card class="game-card" style="background-image:url('/assets/images/game-banners/fox-and-geese.jpg');">
              <mat-card-header class="card-header">
                <mat-card-title>Fox & Geese</mat-card-title>
                <mat-card-subtitle class="subtitle">Medieval Europe</mat-card-subtitle>
              </mat-card-header>
              <!-- <img mat-card-image src="/assets/images/game-banners/fox-and-geese.jpg"> -->
              <!-- <mat-card-actions>
                <button mat-button>History</button>
                <button mat-button>How to Play</button>
                <button mat-button>Buy this Game</button>
              </mat-card-actions> -->
            </mat-card>
          </mat-grid-tile>
        </a>
        <a href="/game/mehen">
          <mat-grid-tile>
            <mat-card class="game-card" style="background-image:url('/assets/images/tile-images/mehen.jpg');">
              <mat-card-header class="card-header">
                <mat-card-title>Mehen</mat-card-title>
                <mat-card-subtitle class="subtitle">Ancient Egypt</mat-card-subtitle>
              </mat-card-header>
              <!-- <img  src="/assets/images/product-images/mehen/mehen-with-box.jpg"> -->
              <!-- <mat-card-actions>
                <button mat-button>History</button>
                <button mat-button>How to Play</button>
                <button mat-button>Buy this Game</button>
              </mat-card-actions> -->
            </mat-card>
          </mat-grid-tile>
        </a>
      </mat-grid-list>
    </div>
  </div>
