.banner {
    height: 350px;
    width: 100%;
    background-image: url('/assets/images/tablut-banner.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
    text-align: end;
  }
  .title {
    width: 50%;
    background-color: rgba(39, 21, 3, 0.75);
    display:inline-block;
    height: 100%;
    text-align: center;
    align-items: center;
    color: var(--cream);
}
.title h2 {
    font-size: 45px;
    position: relative;
    top: 10%;
    
}
.page-content {
    background-color: var(--grape);
    min-height: 500px;
    color: var(--cream);
    border-top: 3px solid black;

}
.splash-page {
    text-align: center;
}