<!-- Toolbar -->
<div class="toolbar" role="banner">

   <a href="https://marshbirdgames.com/"> <img width="40" id="site-logo" alt="Marsh Bird Games"
      src="/assets/images/logo-wide-transparent-white.png" /></a>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="nav-open">
    <button mat-menu-item >
      <h3 >Shop</h3>
    </button>

    <!-- <a *ngFor="let game of gameNav" routerLink="/game/{{game.id}}" routerLinkActive="active">
      <button mat-menu-item>
        <span>{{game.name}}</span>
      </button></a> 
    <a routerLink="/game/fox-and-geese" routerLinkActive="active"><button mat-menu-item>
        <span>Fox & Geese</span>
      </button></a>
      <a routerLink="game/senet" routerLinkActive="active">
      <button mat-menu-item>
        <span>Senet</span>
      </button></a> -->
      
      <button mat-menu-item>
        <h3>History & Instructions</h3>
      </button>
      <a *ngFor="let game of gameNav" routerLink="/how-to-play/{{game.id}}" routerLinkActive="active">
        <button mat-menu-item>
          <span>{{game.name}}</span>
        </button></a> 
      <button mat-menu-item>
        <h3>About Marshbird Games</h3>
      </button>
  </mat-menu>
 </div>

<div class="content" role="main">

  <!-- <div class="banner">
    <img src="/assets/images/gradient.jpg" alt="gold gradient">
    
  </div> -->
  <div class="content-container">
    <!-- <app-landing></app-landing> -->
    <router-outlet></router-outlet>
  </div> 

<footer class="footer">
  <div class="etsy-link">    <a href="https://marshbirdgames.etsy.com" target="_blank">Also Available on Etsy</a>
  </div>
  <div class="socials">
    <!-- <mat-icon fontIcon="facebook"></mat-icon> -->
    <a href="https://facebook.com/marshbirdgames" target="_blank"><img class="social-icon" src="/assets/images/social/facebook-y.png"></a>
    <a href="https://instagram.com/marshbirdgames" target="_blank"> <img class="social-icon" src="/assets/images/social/instagram-y.png"></a>
      <!-- <a href="https://pinterest.com/marshbirdgames" target="_blank"> <img class="social-icon" src="/assets/images/social/pinterest.png"></a> -->

  </div>
  </footer>
</div>