<!-- Toolbar -->
<div class="toolbar" role="banner">

   <a href="https://marshbirdgames.square.site/"> <img width="40" id="site-logo" alt="Marsh Bird Games"
      src="/assets/images/logo-wide-transparent-white.png" /></a>
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <h2>Games</h2>
    </button> -->
<!-- 
    <a *ngFor="let game of gameNav" routerLink="/game/{{game.id}}" routerLinkActive="active">
      <button mat-menu-item>
        <span>{{game.name}}</span>
      </button></a> -->
    <!-- <a routerLink="/game/fox-and-geese" routerLinkActive="active"><button mat-menu-item>
        <span>Fox & Geese</span>
      </button></a>
      <a routerLink="game/senet" routerLinkActive="active">
      <button mat-menu-item>
        <span>Senet</span>
      </button></a>
      
      <button mat-menu-item>
        <h2>Game Instructions</h2>
      </button>
      <button mat-menu-item>
        <h2>About</h2>
      </button> -->
  <!-- </mat-menu>-->
 </div>

<div class="content" role="main">

  <!-- <div class="banner">
    <img src="/assets/images/gradient.jpg" alt="gold gradient">
    
  </div> -->
  <!-- <div class="content-container"> -->
    <router-outlet></router-outlet>
  <!-- </div> -->
  <!-- Footer -->
  <!-- <footer>
    <div>some footer stuff</div>
  </footer> -->
</div>