
.section-label {
   
   font-family: 'Alegreya Sans', Garamond, 'Times New Roman', Times, serif;
   font-weight: 400;
   font-size: 1.6em;
   padding: 1em;
}
p, .game-play-section, .setup-container, div{
    padding: 0em 2em;
}
.setup-container {
    display: flex;
    justify-content: flex-start;
}
.setup-container div {
    width: 50%;
}
.setup-img {
    max-width: 50%;
    max-height: 400px;
    margin: auto;
    display: block;
}