$md-shiraz: (
    50 : #f4e8cc,
    100 : #fff2c5,
    200 : #feecac,
    300 : #ffd955,
    // 400 : #bf9243,
    400 : #a68319,
    // 400 : #8e5e01,
    500 : #31041a,
    600 : #240314,
    700 : #1a020e,
    800 : #1a020e,
    900 : #110109,
    A100 : #f4e8cc,
    A200 : #feecac,
    A400 : #3e0421,
    A700 : #1a020e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #1a020e,
        500 : #f4e8cc,
        600 : #f4e8cc,
        700 : #f4e8cc,
        800 : #f4e8cc,
        900 : #f4e8cc,
        A100 : #000000,
        A200 : #000000,
        A400 : #f4e8cc,
        A700 : #f4e8cc,
    )
);
$ancient: (
    50 : #f4e8cc,
    100 : #fff2c5,
    200 : #feecac,
    300 : #cc962f,
    400 : #9e4A1c,
    500 : #5e1409,
    600 : #4c8708,
    700 : #5da99f,
    800 : #5da99f,
    900 : #0c172e,
    A100 : #f4e8cc,
    A200 : #feecac,
    A400 : #9e4A1c,
    A700 : #5e1409,
    contrast: (
        50 : #0c172e,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #1a020e,
        500 : #f4e8cc,
        600 : #000000,
        700 : #0c172e,
        800 : #0c172e,
        900 : #f4e8cc,
        A100 : #000000,
        A200 : #000000,
        A400 : #f4e8cc,
        A700 : #f4e8cc,
    )
);