
@use '@angular/material' as mat;
@import '@angular/material/theming';

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@include mat-core();
@import './pallette.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

@import '~material-design-icons-iconfont/src/material-design-icons';
$mat-theming-primary: mat.define-palette($md-shiraz);
$mat-theming-accent: mat.define-palette($md-shiraz, 400, 50, 300 );
$mat-theming-warn: mat.define-palette($md-shiraz);

$mat-theming-theme: mat.define-light-theme($mat-theming-primary, $mat-theming-accent, $mat-theming-warn);
@include mat.all-component-themes($mat-theming-theme);
:root {
    --grape: #3e0421;
    --gold: #ffd955;
    --cat-tail: #6a3501;
    --butter: #feecac;
    --cream: #f4e8cc;
    --chocolate: #271503;
}

html,
body {
    min-height: 100vh;
    background-color: var(--grape);
    color: var(--cream)
}


h1, h2  {
    font-family: Griffy, Garamond, 'Times New Roman', Times, serif;
    font-weight: 400;
}
h3 {
    font-size: 22px;
    font-family: "Playfair Display";
    font-weight: 400;
    color: white;
}
h2 {
    font-size: 2em;
}
// body { margin: 0; font-family: 'Alegreya Sans', Garamond, 'Times New Roman', Times, serif, sans-serif; }
body { margin: 0; font-family: "PT Serif", serif; }

a {
    color: #fff7d6;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #8e5e01;
}
.game-square {
    height:40px;
}
button {
    font-family: "PT Serif", serif !important;
    font-weight: 500;
    font-size: 16px !important;
    margin: 5px !important; 
}