
@use '@angular/material' as mat;
@import '@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Griffy&display=swap');
@include mat-core();
@import './pallette.scss';

$mat-theming-primary: mat.define-palette($md-shiraz);
$mat-theming-accent: mat.define-palette($md-shiraz);
$mat-theming-warn: mat.define-palette($md-shiraz);

$mat-theming-theme: mat.define-light-theme($mat-theming-primary, $mat-theming-accent, $mat-theming-warn);
@include mat.all-component-themes($mat-theming-theme);
:root {
    --grape: #3e0421;
    --gold: #ffd955;
    --cat-tail: #6a3501;
    --butter: #feecac;
    --cream: #f4e8cc;
    --chocolate: #271503;
}

html,
body {
    min-height: 100vh;
}


h1, h2, h3 {
    font-family: Griffy, Garamond, 'Times New Roman', Times, serif;
    font-weight: 400;
}
h2 {
    font-size: 2em;
}
body { margin: 0; font-family: 'Alegreya Sans', Garamond, 'Times New Roman', Times, serif, sans-serif; }
a {
    color: white;
}
.game-square {
    height:40px;
}
