/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Griffy&display=swap');
:root {
    // --grape: #3d015f;
    // --gold: #ffd955;
    // --cat-tail: #6b3500;
    // --butter: #ffecaa;
    // --cream: #fff6d4;
    // --chocolate: #271503;
        --grape: #3e0421;
    --gold: #ffd955;
    --cat-tail: #6a3501;
    --butter: #feecac;
    --cream: #f4e8cc;
    --chocolate: #271503;
}

html,
body {
    height: 100%;
}


h1, h2, h3 {
    font-family: Griffy, Garamond, 'Times New Roman', Times, serif;
    font-weight: 400;
}
h2 {
    font-size: 2em;
}
body { margin: 0; font-family: 'Alegreya Sans', Garamond, 'Times New Roman', Times, serif, sans-serif; }
a {
    color: white;
}
.game-square {
    height:10px;
}