<!-- <p>game-info works!</p> -->
<div class="banner" style="background-image: url('/assets/images/game-banners/{{gameContent.id}}.jpg');">
  <!-- <img src="/assets/images/gradient.jpg" alt="gold gradient"> -->
  <div class="game-title">
    <h2>{{gameContent.name}}</h2>
  </div>
</div>
<mat-tab-group mat-stretch-tabs class="game-info-nav-container" [selectedIndex]="0">
  <mat-tab  class="game-tab" label="History">
    <app-history [gameContent]="gameContent"></app-history>
  </mat-tab>
  <mat-tab class="game-tab" label="How To Play">
    <app-instructions [gameContent]="gameContent"></app-instructions>

  </mat-tab>
  <mat-tab class="game-tab" label="Get This Game">
    <app-buy-game [gameContent]="gameContent"></app-buy-game>
  </mat-tab>
</mat-tab-group>